<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/news.css}"/>
</head>
<header id="header">

    <hr>
</header>
<body class="boddy">
<main>

<div id="news"></div>
    <div id="description"></div>

    <div></div>
<div id="itemTrial">==============안에 코드 새로 정리 했음============</div>

</main>



<footer id="footer">
    <hr>
</footer>
<script src="/js/news.js" th:inline="javascript" type="text/javascript"></script>
<script src="/js/header.js" th:inline="javascript" type="text/javascript"></script>
</body>

</html>