.findForm{
    width: 70%;
    padding-top: 80px;
    margin: auto;
}

.foundUser input{
    padding: 5px;
}

.findForm button{
    background-color: skyblue;
    border:none;
    border-radius: 3px;
    padding: 5px;
}

.findPw2{
    padding: 30px;
    text-align: center;

}

.findPw2 a{
    text-decoration: none;
    text-color:black;
}