#news{
    padding-top: 80px;
    width: 70%;
    margin:auto;
}

tr{
    padding-bottom: 20px;
}

#itemTrial{
    padding-top: 80px;
    width: 70%;
    margin:auto;
}

.description{
    padding-bottom: 20px;
}