<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>

</head>

<header class="headerCss">


    <body class="headerBody">

    <div class="upperHead">


        <div id="loginStatus">

            <div class="option">
                <div>
                    <button type="button" class="login-button" onclick="LoginBtn()">로그인 |</button>
                </div>
                <div>
<!--                    <button type="button" class="login-button"><a href="http://115.85.182.246:9011/signup">회원가입 |</a>-->
                        <button type="button" class="login-button"><a href="http://localhost:9011/signup">회원가입 |</a>
                    </button>
                </div>


                <div class="faq">
                    <button><a href="#">FAQ |</a></button>
                </div>
            </div>

        </div>


    </div>


    <div id="LoginModal">

        <form class="login-popup" id="login-form" method="post">

            <div class="loginCenter">

                <div class="loginText">로그인
                    <button type="button" class="close" onclick="closeBtn()">X</button>
                </div>

                <div class="loginInput">
                    <input class="input" id="userId" name="userName" type="text" placeholder="아이디"/>
                    <label class="label" for="userId">아이디</label>
                </div>
                <div class="loginInput">
                    <input class="input" id="userPassword" name="userPassword" placeholder="비밀번호">
                    <label class="label" for="userPassword">비밀번호</label>

                </div>

            </div>

            <div id="errorMsg">비밀번호가 일치하지 않습니다</div>

            <div class="submitBtn">

                <button type="button" onclick="userLogin()">로그인</button>
            </div>
            <div class="find"><span> <a href="http://localhost:9011/findUser">아이디 찾기 | </a> <a
                    href="http://localhost:9011/findPw">비밀번호 찾기</a></span></div>

<!--            <div class="find"><span> <a href="http://115.85.182.246:9011/findUser">아이디 찾기 | </a> <a
                    href="http://115.85.182.246:9011/findPw">비밀번호 찾기</a></span></div>-->
        </form>
        <!--        <a href="https://kauth.kakao.com/oauth/authorize?client_id=xxx&redirect_uri=http://localhost:9011/login/oauth2/code/kakao&response_type=code">
                    카카오 인가코드 발습</a>-->
        <a href="https://nid.naver.com/oauth2.0/authorize?client_id=4U0dG6smZXClFTARNuMJ&redirect_uri=http://localhost:9011/login/oauth2/code/naver&response_type=code">
            네이버 인가코드 발습</a>
<!--
        <a href="https://nid.naver.com/oauth2.0/authorize?client_id=4U0dG6smZXClFTARNuMJ&redirect_uri=http://115.85.182.246:9011/login/oauth2/code/naver&response_type=code">
            네이버 인가코드 발습</a>-->
    </div>

    <span id="username">username</span>
    <div class="list">


        <!--        <div class="empty-space"></div>-->
        <span class="home-list">
            <a href="http://localhost:9011/main">우리집</a></span>
     <!--   <a href="http://115.85.182.246:9011/main">우리집</a></span>-->
        <div class="empty-space"></div>
        <div class="empty-space"></div>


        <span class="nav-list"><a href="http://localhost:9011/news">새소식</a></span>
        <span class="nav-list"><a href="http://localhost:9011/community/posts">소통</a></span>
        <span class="nav-list"><a href="http://localhost:9011/homes/posts">어린이집</a></span>
        <span class="nav-list"><a href="http://localhost:9011/counsel">상담실</a></span>

<!--        <span class="nav-list"><a href="http://115.85.182.246:9011/news">새소식</a></span>
        <span class="nav-list"><a href="http://115.85.182.246:9011/community/posts">소통</a></span>
        <span class="nav-list"><a href="http://115.85.182.246:9011/homes/posts">어린이집</a></span>
        <span class="nav-list"><a href="http://115.85.182.246:9011/counsel">상담실</a></span>-->

    </div>

    </body>


</header>

</html>